<!DOCTYPE html>
<html>
  <head>
    <% include ../../lib/bootstrap.v4.ejs %>
  </head>
  <body>
    <% include ../../header/adminHeader.ejs %>
    <div class="container">
      <h2 class="text-center p-4">新闻</h2>
      <button class="btn btn-primary float-right mb-2" onclick="add()">添加</button>
      <table class="table table-hover text-center table-bordered">
        <thead>
          <tr>
            <th scope="col">序号</th>
            <th scope="col">id</th>
            <th scope="col">标题</th>
            <th scope="col">日期</th>
            <th scope="col">图片</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i in newsList){ %>
            <tr>
              <th scope="row"><%= Number(i)+1%></th>
              <td><%=newsList[i].id %></td>
              <td class="text-left"><%=newsList[i].title %></td>
              <td><%=new Date(newsList[i].date).getFullYear()%>-<%=(new Date(newsList[i].date).getMonth()+1)<10?"0"+(new Date(newsList[i].date).getMonth()+1):new Date(newsList[i].date).getMonth()+1%>-<%=(new Date(newsList[i].date).getDate())<10?"0"+new Date(newsList[i].date).getDate():new Date(newsList[i].date).getDate()%></td>
              <td>
                <img src="<%=newsList[i].img %>" alt="" style="width: 30px;height:30px;">
              </td>
              <td>
                <button class="btn btn-info" onclick="edit('<%=newsList[i].id %>','<%=newsList[i].title %>','<%=new Date(newsList[i].date).getFullYear()%>-<%=new Date(newsList[i].date).getMonth()+1%>-<%=new Date(newsList[i].date).getDate() %>','<%=newsList[i].img %>','<%=newsList[i].content %>')">编辑</button>
                <button class="btn btn-danger" onclick="del('<%=newsList[i].id %>')">删除</button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>

<!-- 模态框 -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <!-- 模态框标题 -->
        </h4>
        <input type="hidden" name="id" id="newsId">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" id="newsForm">
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label text-center">标题:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="请输入新闻标题">
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label text-center">日期:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="date" placeholder="请输入日期">
            </div>
          </div>
          <div class="form-group row">
            <label for="img" class="col-sm-2 col-form-label text-center">图片:</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="img" placeholder="请选择图片" accept="image/*">
            </div>
          </div>
          <div class="form-group row">
            <label for="newsContent" class="col-sm-2 col-form-label text-center">内容:</label>
            <div class="col-sm-10">
              <textarea rows="10" class="form-control" id="newsContent"></textarea>
            </div>
          </div>
        </form>
        <button class="btn btn-primary float-right" id="commit">确认</button>
      </div>
    </div>
  </div>
</div>
<script>
  function edit(id,title,date,img,content){
    $(".modal-title").text("编辑新闻")
    $("#myModal").modal('show');
    $("#newsId").val(id)
    $("#title").val(title)
    $("#date").val((date.split("-")[0])+"-"+(date.split("-")[1].length==1?"0"+date.split("-")[1]:date.split("-")[1])+"-"+(date.split("-")[2].length==1?"0"+date.split("-")[2]:date.split("-")[2]));
    $("#newsContent").val(content)
  }
  function add(){
    $("#newsId").val(null)
    document.querySelector("#newsForm").reset()
    $("#newsId").val(null)
    $(".modal-title").text("添加新闻")
    $("#myModal").modal('show');
  }
  function del(id){
    $.ajax({
      url: '/admin/delNews',
      type:'post',
      data: {id:id},
      success: function(data){
        if(data.code == 200){
          location.reload();
        }
      },
      error:function(){
        alert("删除失败")
      }
    })
  }
  $(function(){
    $("#commit").click(function(e){
      e.preventDefault();
      var fileList = $('#img')[0].files;
      var formData = new FormData();
      formData.append('img', fileList[0]);
      $('#Tip').show()
      if($("#title").val() == "" || $("#date").val() == "" || $("#newsContent").val() == ""){
        $("#Tip").text("请完善信息").addClass("alert-danger").fadeOut(3000,()=>{
          $("#Tip").removeClass("alert-danger").text("")
        })
        return false;
      }
      formData.append('news',JSON.stringify({
        title:$("#title").val(),
        date:$("#date").val(),
        newsContent:$("#newsContent").val(),
        id:$("#newsId").val()
      }));
      $.ajax({
        url: $("#newsId").val()?'/admin/editNews':'/admin/addNews',
        type:'post',
        processData:false,
        contentType:false,
        data: formData,
        success: function(data){
          if(data.code == 200){
            location.reload();
          }
        },
        error:function(){
          
        }
      })
    })
  })
</script>